In [2]:
import pandas as pd
import numpy as np

# Читаємо файл 2017_jun_final.csv за допомогою методу read_csv
db = pd.read_csv('2017_jun_final.csv')

In [3]:
# Читаємо отриману таблицю, використовуючи метод head
print(db.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [ ]:
# Визначимо розмір таблиці за допомогою методу shape
print("Розмір таблиці:", db.shape)

In [ ]:
# Визначимо типи всіх стовпців за допомогою dataframe.dtypes
print("Типи стовпців:\n", db.dtypes)

In [4]:
# Порахуємо, яка частка пропусків міститься в кожній колонці (використовуючи методи isnull та sum)
missing_values = db.isnull().sum() / len(db)
print("Частка пропусків у кожній колонці:\n", missing_values)

Частка пропусків у кожній колонці:
 N                                   0.000000
Посада                              0.000000
Мова програмування                  0.442325
Спеціалізація                       0.829389
Загальний досвід роботи             0.000000
Досвід роботи на поточному місці    0.000000
Зарплата на місяць                  0.000000
Зміна зарплати за 12 місяців        0.000000
Місто                               0.000000
Розмір компанії                     0.000000
Тип компанії                        0.000000
Стать                               0.000000
Вік                                 0.000000
Освіта                              0.000000
Університет                         0.041131
Ще студент                          0.000000
Рівень англійської                  0.000000
Предметна область                   0.025620
Дата заповнення                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [5]:
# Видаляємо всі стовпці з пропусками, крім стовпця "Мова програмування"
db_cleaned = db.dropna(axis=1, how='any').copy()
db_cleaned['Мова програмування'] = db['Мова програмування']
print(db_cleaned.columns)

Index(['N', 'Посада', 'Загальний досвід роботи',
       'Досвід роботи на поточному місці', 'Зарплата на місяць',
       'Зміна зарплати за 12 місяців', 'Місто', 'Розмір компанії',
       'Тип компанії', 'Стать', 'Вік', 'Освіта', 'Ще студент',
       'Рівень англійської', 'Дата заповнення', 'User.Agent', 'exp',
       'current_job_exp', 'salary', 'Мова програмування'],
      dtype='object')

In [6]:
# Знову порахуємо, яка частка пропусків міститься в кожній колонці і переконаємося, що залишився тільки стовпець "Мова програмування"
missing_values_cleaned = db_cleaned.isnull().sum() / len(db_cleaned)
print("Частка пропусків у кожній колонці після очищення:\n", missing_values_cleaned)

Частка пропусків у кожній колонці після очищення:
 N                                   0.000000
Посада                              0.000000
Загальний досвід роботи             0.000000
Досвід роботи на поточному місці    0.000000
Зарплата на місяць                  0.000000
Зміна зарплати за 12 місяців        0.000000
Місто                               0.000000
Розмір компанії                     0.000000
Тип компанії                        0.000000
Стать                               0.000000
Вік                                 0.000000
Освіта                              0.000000
Ще студент                          0.000000
Рівень англійської                  0.000000
Дата заповнення                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Мова програмування                  0.442325
dtype: float64

In [7]:
# Видаляємо усі рядки у вихідній таблиці за допомогою методу dropna
db_cleaned.dropna(inplace=True)
print(db_cleaned.head())

   N                    Посада Загальний досвід роботи  \
2  3         Software Engineer                       4
3  4         Software Engineer                       5
4  5  Senior Software Engineer       10 і більше років
6  7  Junior Software Engineer                       1
7  8  Senior Software Engineer                       6

  Досвід роботи на поточному місці  Зарплата на місяць  \
2                                1                2500
3                                4                2000
4                              0.5                4500
6                  менше 3 місяців                 600
7                                1                3300

   Зміна зарплати за 12 місяців         Місто Розмір компанії   Тип компанії  \
2                           800          Київ    до 1000 осіб  Аутсорсингова
3                           400         Одеса     до 200 осіб     Продуктова
4                           500          Інше      до 10 осіб     Продуктова
6                           100  Хмельницький      до 50 осіб  Аутсорсингова
7                           500          Київ      до 10 осіб     Продуктова

      Стать  Вік             Освіта  Ще студент  \
2  чоловіча   26               Вища       False
3  чоловіча   30            Середня       False
4  чоловіча   30  Технікум / Коледж       False
6  чоловіча   23               Вища       False
7  чоловіча   28               Вища       False

                     Рівень англійської      Дата заповнення  \
2               Intermediate (середній)  12/06/2017 13:02:47
3    Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4               Intermediate (середній)  12/06/2017 13:03:47
6    Pre-intermediate (нище середнього)  12/06/2017 13:04:26
7  Upper-Intermediate (вище середнього)  12/06/2017 13:04:27

                                          User.Agent   exp  current_job_exp  \
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5
6  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0              0.0
7  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0              1.0

   salary Мова програмування
2    2500            C#/.NET
3    2000         JavaScript
4    4500         JavaScript
6     600            C#/.NET
7    3300                C++

In [52]:
# Визначяємо новий розмір таблиці за допомогою методу shape
print("Новий розмір таблиці:", db_cleaned.shape)

Новий розмір таблиці: (4854, 20)

In [ ]:
# Створюємо нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = db[db['Мова програмування'].str.contains('Python', na=False)].copy()
print(python_data)

In [56]:
# Визначаємо розмір таблиці python_data за допомогою методу shape
print("Розмір таблиці python_data:", python_data.shape)

Розмір таблиці python_data: (207, 25)

З посадою розібратися

In [63]:
# Виконаємо групування за стовпчиком "Посада"
grouped_data = db.groupby('Посада')
print(grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000273F24F7890>

In [ ]:
# Створимо новий DataFrame з мінімальним та максимальним значенням у стовпчику "Зарплата на місяць"
agg_data = grouped_data['Зарплата на місяць'].agg(['min', 'max'])
print("Агреговані дані:\n", agg_data)

In [ ]:
# Створимо функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць
def fill_avg_salary(row):
    return (row['min'] + row['max']) / 2
agg_data['avg'] = agg_data.apply(fill_avg_salary, axis=1)
print(agg_data)

In [ ]:
# Створимо описову статистику за допомогою методу describe для нового стовпчика
print("Описова статистика для нового стовпчика 'avg':\n", agg_data['avg'].describe())

In [69]:
# Збережемо отриману таблицю в CSV файл
agg_data.to_csv('aggregated_python_data.csv', index=True)